:root {
  --clr-primary: #8cd790;
  --clr-secondary: #e63462;
  --gap: 1rem;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  line-height: 1.6;
  font-size: 1rem;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
p {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  width: 100%;
}

/* utility classes */
.hide {
  display: none;
}
.container {
  max-width: 1100px;
  margin: auto;
  padding: 2rem;
}
.grid {
  display: grid;
  gap: var(--gap);
}
.grid-col-2 {
  grid-template-columns: 1fr 1fr;
}
.grid-col-3 {
  grid-template-columns: repeat(3, 1fr);
}
.button {
  display: block;
  padding: 0.7rem 1.5rem;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
}
.button-primary {
  background-color: var(--clr-primary);
  color: white;
}

.icon {
  width: 24px;
  height: 24px;
  fill: white;
}

.text-accent {
  color: var(--clr-primary);
}

.socials {
  display: flex;
  gap: 2rem;
  padding: 0;
  margin-bottom: 0;
}

.section {
  min-height: 3.5rem;
  padding: 3rem 2rem;
  position: relative;
  /* overflow: hidden; */
}

.section.bg-accent {
  background: var(--clr-primary);
  color: #fff;
}

.section-title {
  font-weight: normal;
  letter-spacing: 0.3rem;
  font-size: 2rem;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  width: fit-content;
  margin: 0 auto 1rem;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #fff;
  color: #333;
}

.nav-menu {
  display: flex;
  gap: 2rem;
}

/* Banner / Hero */

.banner {
  color: #fff;
  height: 85vh;
  padding: 1.5rem 0 0 2.5rem;
  position: relative;
  display: grid;
  place-content: center;
  position: relative;
}

.banner-video-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.banner-video-container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, #00000096, #000000f1);
}

.banner-video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-text {
  max-width: 600px;
  font-size: 1.4rem;
  position: relative;
  z-index: 10;
}

.banner-greet {
  color: var(--clr-primary);
  letter-spacing: 8px;
}

.banner-title {
  font-size: clamp(3rem, 5vw, 5.4rem);
  line-height: 1;
}

/* About Me */

.about-me-text {
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-video {
  width: 250px;
  object-fit: cover;
  /* animation: move-up 300ms; */
}

/* Contact */

.contact-info {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1rem;
  border-left: 2px solid var(--clr-primary);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  position: relative;
  /* translate: 100%; */
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

input {
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

/* services */
.services {
  padding-bottom: 5rem;
}

.services-container {
  margin-top: 2rem;
  padding: 1rem 0;
}

.service-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}
.service-name {
  font-size: 1.2rem;
}

/* footer */
.footer {
  padding: 1rem 0 0;
}

.copyright {
  font-size: 1.1rem;
}
.footer .grid {
  align-items: center;
}

.footer .socials {
  margin-left: auto;
}

.footer-icon {
  fill: black;
  transition: fill 300ms ease;
}
.footer-icon:hover {
  fill: var(--clr-primary);
}

/* Projects */

.projects .grid {
  gap: 2rem;
}

.projects-container {
  margin: 2rem 0;
}

.project-card {
  border: 1px solid var(--clr-primary);
  display: flex;
  flex-direction: column;
  outline: 1px solid var(--clr-primary);
  outline-offset: 1px;
  transition: outline-offset 300ms;
}

.project-card:hover {
  outline-offset: 5px;
  border-color: var(--clr-primary);
}

.project-img img {
  display: block;
  height: 200px;
  object-fit: cover;
}

.project-body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.project-name {
  font-size: 1.2rem;
}

.project-link {
  margin: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: end;
}

.project-arrow {
  font-size: 1.5rem;
  font-weight: bolder;
  translate: 0 -3px;
  transition: translate 300ms;
}

.project-link:hover .project-arrow {
  translate: 2px -3px;
}

.go-up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  background-color: black;
  color: var(--clr-primary);
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: bolder;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.go-up.hide {
  display: none;
}

/* Animations */

@keyframes move-up {
  from {
    opacity: 0;
    translate: 0 100px;
    scale: 0;
  }
  to {
    opacity: 1;
    translate: none;
    scale: 1;
  }
}

/* Media Queries */

@media (max-width: 768px) {
  .container {
    padding: 0;
  }
  .header {
    flex-direction: column;
    background-color: #fff;
    color: #333;
  }
  .nav-menu {
    flex-wrap: wrap;
  }

  .banner {
    height: 65vh;
    background-color: rgb(31, 24, 24);
    color: #fff;
    border: none;
    padding: 1.5rem;
    margin: 0;
  }
  .banner-video-container {
    display: none;
  }
  .banner-text {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .banner-greet {
    font-size: 0.8rem;
  }
  .banner-text > p {
    font-size: 1rem;
  }

  .about-me-text {
    text-align: center;
  }
  .about-video {
  }

  .grid-col-2,
  .grid-col-3 {
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 1rem;
  }
  .video-container {
    order: 0;
  }
  .project-card {
    width: 100%;
    min-width: 300px;
  }

  .project-img img {
    height: 250px;
  }

  /* contact */
  .text-box {
    text-align: center;
  }
  .contact-info {
    border: none;
  }
  .form-container {
    width: 100%;
  }

  .contact-info .socials {
    justify-content: center;
  }

  /* footer */

  .footer .socials {
    align-self: center;
    justify-self: center;
    margin: 0;
  }
}
